body 
{
background: #333C80;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}
h1 
{
color: whitesmoke;
text-align: center;
}
.projects 
{ 
    display:flex; 
    flex-wrap:wrap; 
}
.project 
{
    width: 4  0%;
    margin: 10 px;
    padding: 20px 10px;
    background: white; 
    border-radius: 25%;
}
.project img[src="images/problemstatement.png"]
{
    width: auto;
    height: auto;
    margin: 10px;
    border: 2px solid #292A33; 
    display: block;
    margin: auto;
}
.project img[src="images/Sketches_IMG.png"] 
{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid #292A33; 
    display: block;
    margin: auto;
}
.project img[src="images/diagram-1.png"] 
{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid #292A33; 
    display: block;
    margin: auto;
}
.project img[src="images/algorithmic_design.png"] 
{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid #292A33; 
    display: block;
    margin: auto;
}